<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!--
        Android Studio complains that this is only granted to system apps. But I really need it and
        it does work.
    -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AZRotate"
        tools:targetApi="32">
        <service
            android:name=".RotateTileService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/rotate_screen"
            android:icon="@drawable/ic_baseline_screen_rotation_24"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action
                    android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>
    </application>

</manifest>